*{
    box-sizing: border-box;
}


/* .page-container{
  display: flex;
  flex-direction: column;
  justify-contents: space-between;
  align-items: flex-start;
  padding: 20px;
}
just an idea */

.top-container{
    display: flex;
    align-self: center; /* */
    margin: 10px;
    padding: 10px;
    background-color: #bca52d;
    justify-content: center;
    align-items: center;

}

.top-header{
    /*height: 50px;
    width: 1000px;*/
    display: flex;
    align-items: center;
    justify-items: center;
    padding: 5px 50px 5px 50px;
    background-color: #fff;

}

.body-head-container{
    display: flex;
    align-self: center;
    /* margin: 10px; */
    margin-left: auto;
    margin-right: auto;
    /*margin: auto;*/
    padding: 5px; /*change*/
    background-color: #ecd235;
    justify-content: center;
    align-items: center;
}

.body-header{
    margin: auto;
    padding: 5px 10px 5px 10px;
    background-color: #fff;
}

.body-image-container{
    flex-direction: column;
    align-self: center;
    display: flex;
    /*width: 1000px;*/
    width: 75%;
    height: 500px;
    order: 1;
    border: 5px solid #ecd235;
    background-color: #fff;
    justify-content: center;
    align-items: center;
}



.body-container{
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    background-color: #bca52d;
    /*width: 1000px;  debug*/
    margin: 10px;
    padding: 10px
}


.body-image-long{
    flex-direction: column;
    align-self: center;
    display: flex;
    /*flex-wrap: wrap;*/
    padding: 0px 5px 0px 5px;
    width: 75%;
    /*width: 2000px; */
    /* height: 500px; debug */
    order: 1;
    border: 5px solid #ecd235;
    background-color: #fff;
    justify-content: center;
    align-items: center;

}

.body-long-container{
    display: flex;
    flex-direction: column;
    align-self: center;
    /*width: 1000px;*/
    /*width: 80%;*/
    flex-wrap: wrap;
    order: 1;
    border: 5px solid #ecd235;
    background-color: #fff;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
}

.body-text-container{
    display: flex;
    flex-direction: column;
    align-self: center;
    /*width: 1000px;*/
    width: 80%;
    height: 500px;
    order: 1;
    border: 5px solid #ecd235;
    background-color: #fff;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 5px;
}

iframe{
    display: flex;
    /*width: 80vw;*/
    width: 95%;
    height: 100vh;
    margin: 5px;
    /*height: 80vh;*/
}

/* the following code was copy-pasted from another test project I was working on */
.button-container{
    display:flex;
    order: -1;
    flex-direction: column;
    align-self: flex-start;
    width: 150px;
    height: 500px;
    border: 5px solid #ecd235;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #fff;
    padding: 10px;

    /*align-content: flex-start;*/
}

button{
    border-radius: 10px;
    font-size: 15px;
    color: #29161c;
    font-weight: bold;
    transition-duration: .3s;
    display: flex;
    margin: 5px;
    padding: 5px 10px 10px 5px;
    justify-content: center;
    background-color: #ecd235;
}

button:hover{
    background-color: rgba(255, 251, 29, 0.42);
}

button:hover .drop-button{
    display: flex;
}

.drop-container{
    background-color: #fff;
    display: flex;
    width: 100px;
    margin-left: auto;
    text-align: center;
    flex-direction: column;
}

.drop-button{
    border-radius: 10px;
    font-size: 15px;
    color: #29161c;
    transition-duration: .1s;
    display: flex;
    margin: 2px;
    padding: 2px 5px 5px 2px;
    justify-content: center;
    background-color: rgba(227, 201, 51, 0.25);
}

.drop-button:hover{
    background-color: rgba(255, 251, 29, 0.22);
}

/*end code from other project */

img{
    display: flex;
    object-fit: contain;
    height: 100%;
    width: 100%;
    margin: 5px;
}

.home-images{
    display: flex;
    align-self: center;
}




.links{
    /* border: 1px solid #000; */
    margin: 20px 5px 0 5px;

}

.linkbox{
    display: flex;
    flex-direction: column;
    /*width: 900px;*/
    width: 90%;
    /*height: 100px; */
    border: 1px solid #ecd235;
    margin: 10px;
    padding: 10px;
    justify-content: flex-start;
    align-items: flex-start;
}

.linktext{
    margin: 20px 5px 0 5px;
    flex-wrap: wrap;
}

/*.textbox{
    display: flex;
    flex-direction: column;
    width: 900px;
    border: 1px solid #000;
    margin: 10px;
    justify-content: flex-start;
    align-items: flex-start;
}*/





