body{
    background-color: #3D3D3D;
}

.backgroundBar{
    /* Background of Top Bar */
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 90%;

    /* BackgroundBar */
    background: rgba(168, 138, 61, 0.92);

    /*backdrop-filter: blur(27.1828px);*/
    /* Note: backdrop-filter has minimal browser support */
}

.backgroundTopBar{
    /* Background of Top Bar */
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 20%;

    /* BackgroundBar */
    background: rgba(21, 21, 21, 0.19);

    backdrop-filter: blur(27.1828px);
    /* Note: backdrop-filter has minimal browser support */
}


.logoBox{
    /* logo 2 */
    /*align-self: center;*/
    position: absolute;
    width: 410px;
    height: 368px;
    left: calc(50% - 410px/2);
    /*left: 50%;
    right: 50%;*/
    top: 110%;
    background: url(pics/logo_2.png);
}

.textBoxBorder{
    /* Rectangle 49 */
    position: relative;
    display: flex;
    width: 60%;
    height: 400%;
    /*height: 320px;*/

    left: calc(50% - 60%/2);
    top: calc(75% + 410px);
    /* BackgroundBar */
    border: 5px solid rgba(168, 138, 61, 0.92);
}


.textBox{

    position: absolute;
    width: 95%;
    left: calc(50% - 95%/2 - 1%);
    /*top: 480px;*/
    /*top: calc(50% - 95%px/2);*/

    /* GeneralText */
    font-family: Rationale;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;


    /* textColor */
    color: #FFFFFF;
}

/* Started in 2019 by Jerid Roberson, GGTournaments aims to offer a new way to run and manage gaming tournaments. This is an Esports event app(IOS/Android) that allows users to create and RSVP to local gaming tournaments from titles you can follow such as League of Legends, Dota 2, Overwatch and many more. Overall we want to make the process of creating a tournament easy with all resources needed in one app as well as let gamers battle to their hearts content. We also want to help smaller venues/ esport players gain more exposure to get to the next level. Watch this space for more info about product development and CruzHacks 2020 news. Team Contact: email: GGtourneyz@gmail.com */


